nodered_flow.json
[
    {
        "id": "main_flow",
        "type": "tab",
        "label": "Điều khiển thiết bị",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Điều khiển Relay",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Điều khiển thiết bị",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "gesture_classifier_input",
        "type": "tcp in",
        "z": "main_flow",
        "name": "Nhận dữ liệu cử chỉ",
        "server": "server",
        "host": "192.168.137.241",
        "port": "9999",
        "datamode": "single",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 130,
        "y": 120,
        "wires": [["gesture_processor", "update_gesture_status"]]
    },
    {
        "id": "gesture_processor",
        "type": "function",
        "z": "main_flow",
        "name": "Xử lý cử chỉ",
        "func": "// Phân tích cử chỉ\nconst gesture = parseInt(msg.payload);\n\n// Chuyển đổi cử chỉ thành lệnh điều khiển relay\nswitch(gesture) {\n    case 0: // Cử chỉ 1: Bật relay 1, tắt relay 2\n        return [\n            {topic: 'home/relay1', payload: 'ON'},\n            {topic: 'home/relay2', payload: 'OFF'}\n        ];\n    case 1: // Cử chỉ 2: Tắt relay 1, bật relay 2\n        return [\n            {topic: 'home/relay1', payload: 'OFF'},\n            {topic: 'home/relay2', payload: 'ON'}\n        ];\n    case 2: // Cử chỉ 3: Bật cả hai relay\n        return [\n            {topic: 'home/relay1', payload: 'ON'},\n            {topic: 'home/relay2', payload: 'ON'}\n        ];\n    case 3: // Cử chỉ 4: Tắt cả hai relay\n        return [\n            {topic: 'home/relay1', payload: 'OFF'},\n            {topic: 'home/relay2', payload: 'OFF'}\n        ];\n    default:\n        return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [["mqtt_out", "update_switches"]]
    },
    {
        "id": "mqtt_out",
        "type": "mqtt out",
        "z": "main_flow",
        "name": "Điều khiển Relay",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respQos": "1",
        "respRetain": "true",
        "broker": "broker",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "192.168.137.241",
        "port": "1883",
        "clientid": "node-red-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "relay1_switch",
        "type": "ui_switch",
        "z": "main_flow",
        "name": "Relay 1",
        "label": "Relay 1",
        "tooltip": "",
        "group": "dashboard_group",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "home/relay1",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "animate": true,
        "className": "",
        "x": 550,
        "y": 180,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "relay2_switch",
        "type": "ui_switch",
        "z": "main_flow",
        "name": "Relay 2",
        "label": "Relay 2",
        "tooltip": "",
        "group": "dashboard_group",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "home/relay2",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "animate": true,
        "className": "",
        "x": 550,
        "y": 240,
        "wires": [["mqtt_out"]]
    },
    {
        "id": "gesture_status",
        "type": "ui_text",
        "z": "main_flow",
        "group": "dashboard_group",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "Trạng thái",
        "label": "Cử chỉ hiện tại:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "update_gesture_status",
        "type": "function",
        "z": "main_flow",
        "name": "Cập nhật trạng thái",
        "func": "const gestures = {\n    0: 'Cử chỉ 1: Bật R1, Tắt R2',\n    1: 'Cử chỉ 2: Tắt R1, Bật R2',\n    2: 'Cử chỉ 3: Bật cả hai Relay',\n    3: 'Cử chỉ 4: Tắt cả hai Relay'\n};\nreturn { payload: gestures[msg.payload] || 'Không nhận diện được' };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 60,
        "wires": [["gesture_status"]]
    },
    {
        "id": "update_switches",
        "type": "function",
        "z": "main_flow",
        "name": "Cập nhật công tắc",
        "func": "const msgs = [];\nif (msg.topic === 'home/relay1') {\n    msgs.push({payload: msg.payload === 'ON', topic: msg.topic});\n}\nif (msg.topic === 'home/relay2') {\n    msgs.push({payload: msg.payload === 'ON', topic: msg.topic});\n}\nreturn [msgs];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [["relay1_switch", "relay2_switch"]]
    }
]
